/*Custom slider*/

/*
Autor: Jakiś chłop z internetu

Źródło: https://codingartistweb.com/2021/06/double-range-slider-html-css-javascript/
*/

.PWMSliderBox{
  width: 730px;
  float:right;
  margin-right: 30px;
}

.PWMValueButton{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color:beige;
  font-size: 35px;
}

.PWMMinus{
  background: linear-gradient(220deg, #00AcFf 20%, #007cef 80%);
}

.PWMPlus{
  background: linear-gradient(140deg, #24A535 20%, #54FF65 80%);
}

.slider-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 28px;
  }
  .slider-track {
    width: 99%;
    height: 12px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
  }
  .slider-container>input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100%;
    outline: none;
    background-color: transparent;
    pointer-events: none;
  }
  .slider-container>input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
  }
  .slider-container>input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
  }
  .slider-container>input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -17px;
    height: 40px;
    width: 40px;
    background-color: #30c79f;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 50%;
  }
  .slider-container>input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #30c79f;
    pointer-events: auto;
  }
  .slider-container>input[type="range"]:active::-webkit-slider-thumb {
    background: radial-gradient(#A0E7Df, #30c79f);
  }